<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link th:href="@{/css/loginPage.css}" rel="stylesheet" />

<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
<!--     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"> -->
<title>Registration</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
</head>
<body>

	<!-- <header id="header"  th:include="common/header" ></header> -->
	<div id="pagecss">
		<div class=" container-fluidtext-center">
			<div>
				<img class="img-fluid" th:src="@{/image/logo.png}" />
				<!--         th:src="/@{/image/logo.png}" -->
				<div class="card-header text-white bg-primary text-center"><h5>Welcome to Registration Page</h5></div>
			</div>
			<form method="post" style="max-width: 350px; margin: 0 auto;"
				th:Object="${registration}" th:action="@{/saveregister}">

				<div class="border border-secondary p-3 rounded">
					<input type="hidden" name="authToken" value="${authToken}" />
					<c:if test="${ !empty message}">
						<font color="Red" th:text="${message}"></font>
						</span>
					</c:if>
					<p>
						<input type="text" th:field="*{username}" class="form-control"
							placeholder="Employee ID" required />
					</p>
					<p>
						<input type="text" th:field="*{MobileNo}" class="form-control"
							placeholder="MobileNo" required />
					</p>
					<p>
						<input type="text" th:field="*{email}" class="form-control"
							placeholder="EmailId" required />
					</p>
					<p>
						<input type="password" th:field="*{password}" class="form-control"
							placeholder="password" required />
					</p>
					<p>
						<img th:src="*{'data:image/png;base64,'+ image}" />
					</p>
					<p>
						<input type="text" th:field="*{captcha}" class="form-control" placeholder="captcha"/>
						<input type="hidden" th:field="*{hidden}" />
					</p>
					<p>
						<input type="submit" value="Registration" class="btn btn-primary" />
					</p>
				</div>

			</form>
			<p>
				<a th:href="@{/}">Login Page</a>
			</p>
		</div>
	</div>
</body>
</html>