<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<ul id="menu" class="sidebar">
	<!-- id="accordionSidebar" -->
	
<!-- 	<li>#Menu List
		<button type="button" id="newMenu" class="btn btn-primary pull-right">+
			ADD MENU</button>
	</li>
	<li class="nav-item hover" th:each="menu : ${session.MenuListTest}">
	<a th:href=${menu.url}>
        			<span th:text="${menu.menuTitle}"></span>
        </a>
     </li> -->
	
     
 	<li class="nav-item hover ">
	 
	<a href="report"
		class="nav-link collapsed"><i class="fa-solid fa-house"></i>		
		<span>Report</span></a></li>
</ul>
<style>
.h6 {
    color:#fff !important;
}
.hover:hover a{
	background-color: #ffffff77; 
	border-radius: 50vw;
	color:  #852677;
	
	/* 	background: -webkit-linear-gradient(#852677, #4e73df); */
	/* 	-webkit-background-clip: text; */
	/* 	-webkit-text-fill-color: transparent; */
}

</style>

